services:
  redis:
    image: redis:alpine
    container_name: '${APP_NAME:-huette9}_redis'
    hostname: redis
    restart: unless-stopped
    volumes:
      - ./redis/data:/data
    networks:
      - internal

networks:
  internal:
